
css/micons/fonts/icomoon.eot
css/micons/fonts/icomoon.svg
css/micons/fonts/icomoon.ttf
css/micons/fonts/icomoon.woff
fonts/lora/lora-bold-webfont.ttf
fonts/lora/lora-bold-webfont.woff
fonts/lora/lora-bold-webfont.woff2
fonts/lora/lora-bolditalic-webfont.woff
fonts/lora/lora-bolditalic-webfont.woff2
fonts/lora/lora-italic-webfont.ttf
fonts/lora/lora-italic-webfont.woff
fonts/lora/lora-italic-webfont.woff2
fonts/lora/lora-regular-webfont.woff
fonts/montserrat/montserrat-black-webfont.woff
fonts/montserrat/montserrat-black-webfont.woff2
fonts/montserrat/montserrat-bold-webfont.woff
fonts/montserrat/montserrat-bold-webfont.woff2
fonts/montserrat/montserrat-extrabold-webfont.woff
fonts/montserrat/montserrat-extrabold-webfont.woff2
fonts/montserrat/montserrat-extralight-webfont.woff
fonts/montserrat/montserrat-extralight-webfont.woff2
fonts/montserrat/montserrat-light-webfont.woff
fonts/montserrat/montserrat-light-webfont.woff2
fonts/montserrat/montserrat-medium-webfont.woff
fonts/montserrat/montserrat-semibold-webfont.woff
fonts/montserrat/montserrat-semibold-webfont.woff2
fonts/montserrat/montserrat-thin-webfont.woff
fonts/montserrat/montserrat-thin-webfont.woff2
*.eot
*.woff2
